<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>
<div>
	<div>
		<div>
			<h1 style="color:red">Speak your mind!</h1>
			<h4> Students go through a lot in their lives. Often, they come across situations where they just need another person to share their feelings with. This is your place where you can keep your anonymity and speak to other people. 
		</div>
	</div>
</div>
<hr>
<div>
	<div>
		<div>
			<div>{{error}}</div>
				<form name="0.1_form" target="_blank" onsubmit="try {return window.confirm(&quot;You are submitting information to an external page. \nAre you sure?&quot;);} catch (e) {return false;}">
					<div>
						<label>Username</label>
						<i></i>
						<input type="text" name="username" ng-model="formModel.emailInput">
						<span>Username is required</span>
					</div>
					<div>
						<label>Password</label>
						<i></i>
						<input type="password" name="password" ng-model="formModel.passwordInput">
						<span>Password is required</span>
					</div>
					<div>
						<button type="submit" ng-click="submit()">Login</button>
					</div>
				</form>
			</div>
	</div>
</div></body></html>

